{% extends 'base.html'%}

{% block content %}


<h1>Schedule a New Appointment</h1>

<form id="new-appointment-form" action="" method='POST'>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if selected_specialty %}
            {{ selected_specialty }} 
        {% else %}
            Select A Specialty
        {% endif %}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for selected_specialty in unique_specialties %}
                <a class="dropdown-item" href="{% url 'appointment_create_doctor' selected_specialty %}"> {{selected_specialty}} </a>
            {% endfor %}
        </div>
      </div>


        {% if doctors %}
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {% if selected_doctor %}
               {{ selected_doctor.name }} 
           {% else %}
               Select A Doctor
           {% endif %}
           </button>

           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for doctor in doctors %}
                <a class="dropdown-item" href="{% url 'appointment_create_appointment' selected_specialty doctor.id %}"> {{doctor.name}} </a>
            {% endfor %}    
            </div>
        {% else %}
        {% endif %}

 
    <label for="meeting-time">Choose a time for your appointment:</label>

    <input type="datetime-local" id="meeting-time"
        name="meeting-time" value="2018-06-12T19:30"
        min="2018-06-07T00:00" max="2018-06-14T00:00">


<div>
    <span class="input-group-text">Appointment Reason:</span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>



 
</form>


{% endblock %}