{% extends 'base.html' %}

{% block content %}
<br>
<h1 style="font-size: 75px;color: #fff; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; text-align: center;">My Appointments</h1>
<hr>
<br>
{% for appointment in appointments %} 
<div class= "card bg-light mb-3" style="max-width: 81rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
    <div class="card-content card-body" style="background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2));">
        <span class="card-title"><h5>{{ appointment.date }}</h5></span>
        <hr>
        <h5>Doctor: {{ appointment.doctor }}</h5>
        <h5>Visit type: {{ appointment.visit_type }}</h5>
        <h5>Appointment Reason: {{ appointment.appointment_reason }}</h5>
        <div class="card-action text-right">
            <a class = "btn btn-warning" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" href="{% url 'appointment_update_appointment' appointment.id appointment.doctor.specialty 69  %}">Update</a>
            <a class = "btn btn-danger" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" href="{% url 'appointment_delete' appointment.id %}">Delete</a>
          </div>
    </div>
</div>

{% endfor %}
{% endblock %}
