{% extends 'base.html' %}

{% block content %}

<h1>My Appointments</h1>

{% for appointment in appointments %} 
<div class= "card bg-light mb-3" style="max-width: 81rem;">
    <div class="card-content card-body">
        <span class="card-title"><h5>{{ appointment.date }}</h5></span>
        <hr>
        <h6>Visit type: {{ appointment.visit_type }}</h6>
        <h6>Appointment Reason: {{ appointment.appointment_reason }}</h6>
        <br>
        <h6>Doctor: {{ appointment.doctor }}</h6>
        <div class="card-action text-right">
            <a class = "btn btn-warning" href="{% url 'appointment_update_appointment' appointment.id appointment.doctor.specialty 69  %}">Update</a>
            <a class = "btn btn-danger" href="{% url 'appointment_delete' appointment.id %}">Delete</a>
          </div>
    </div>
</div>

{% endfor %}
{% endblock %}
