{% extends 'base.html' %} {% block content %}
<br>
<h1 style="font-size: 75px;color: #fff; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; text-align: center;">Doctor List</h1>
<hr>
<br>    

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for doctor in doctors %}
  <div class="col" style="border-radius: 20%;">
    <div class="card h-100" style="border-radius: 10%; background:white">
      <img
        src="{{ doctor.image_url }}"
        style="height:200px; width:200px;"
        class="card-img-top img-thumbnail mx-auto"
        alt="..."
      />
      <div class="card-body" style="border-radius: 10%;background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7));" >
        <h5 class="card-title">{{ doctor.name }}</h5>
        <p class="card-text">Specialty: {{ doctor.specialty }}</p>
        <p class="card-text">Experience: {{ doctor.years_practicing }} years</p>
        <p class="card-text">Medical School: {{ doctor.med_school }}</p>
        <p class="card-text">Hospital: {{ doctor.hospital }}</p>
        <p class="card-text">Quote: "{{ doctor.quote }}"</p>
      </div>
      
    </div>
  </div>
  {% endfor %} 
</div>
{% endblock %}
