{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dat-a-doc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header class="navbar-fixed">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <div class="navbar" id="navbarNav">
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'appointment_index' %}">My Appointments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active " href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer">
       <div class="right">All Rights Reserved, &copy; 2021 Dat-a Doc &nbsp;</div>
    </footer>
</body>
</html>