{% extends 'base.html' %}
{% block content %}

<h1>Dat-a Doc</h1>

<div class="card mb-3" style=" background-color: #cacaca;max-width: 1200px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);border-radius: 25px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body" style="align-items: center;">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <h5 class="card-title"></h5>
          <h1 class="card-text" style="text-align: center;">Shortening the time it takes for you to schedule a date with a doc.</h1>
          <p class="card-text" style="text-align: center;"><small class="text-muted">To get started click on log in at the top of the screen.</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img style="border-radius: 25px;margin-right: 15px; "src="https://imgur.com/6y6HDma.png" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>

{% endblock %}