{% extends 'base.html' %}
{% block content %}

<h1>Landing Page</h1>


<div style="border: 5px solid black; align-items: left; max-width: 500px; margin-right: 200px;">
    <h1 >Hello</h1>
</div>
<br>
<img src="https://i.imgur.com/JMc7rPj.jpg" style="max-width: 400px; max-height: 500px;">
<div class="cards-2 section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-image">
                        <a href="#"> <img class="img img-raised" style="    max-height: 229px; max-width: 343px;" src="https://cdn.onebauer.media/one/empire-tmdb/films/3050/images/g97xTt18p0WWnj6wxLGC0vBKFwQ.jpg?format=jpg&quality=80&width=960&height=540&ratio=16-9&resize=aspectfill"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="table">
                      <div class="flexboxcard" style="background-color: rgb(199, 199, 199); margin: 15px 5px 5px 5px">
                        <h5>Name: </h5>
                        <span></span>
                      </div>
                      <div class="flexboxcard" style="background-color: rgb(199, 199, 199); margin: 5px">
                        <h5>Experience: </h5>
                        <span>15 years</span>
                      </div>
                      <div class="flexboxcard" style="background-color: rgb(199, 199, 199); margin: 5px">
                        <h5>Location: </h5>
                        <span>San Francisco, California</span>
                      </div>
                      <div class="flexboxcard" style="background-color: rgb(199, 199, 199); margin: 5px">
                        <h5>Med School: </h5>
                        <span>School of Fish</span>
                      </div>
                      <div class="flexboxcard" style="background-color: rgb(199, 199, 199); margin: 5px">
                        <h5>Quote: </h5>
                        <span>“Not only could he understand me, but it turns out he's a doctor! Look, not even a scar! And it hurt so bad. I don't know what I would have done without him.” - Owl</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}